.board {
    section {
        margin-left: 8px;
        margin-top: 8px;
        md-toolbar {
            span {
                margin-left: 8px;
            }
        }
        md-whiteframe {
            height: 120px;
            .board-user-container {
                width: 120px;
                border-right: solid 1px #9E9E9E;
            }
            .board-detail-container {
                margin-left: 8px;
                margin-right: 8px;
                margin-top: 8px;
                strong {
                    font-size: 1.1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                span {
                    font-size: 0.9em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                div {
                    .board-detail-icon-reading {
                        height: 16px;
                        width: 16px;
                        color: #9E9E9E;
                        margin-right: 8px;
                    }
                    .board-detail-icon-favorite-container {
                        md-icon {
                            height: 16px;
                            width: 16px;
                            color: #9E9E9E;
                            margin-left: 8px;
                            margin-right: 8px;
                            cursor: pointer;
                            outline-width: 0px;
                        }
                        span {
                            color: #9E9E9E;
                            font-size: 0.8em;
                        }
                    }
                    .board-detail-icon-favorite-me-container {
                        md-icon {
                            height: 16px;
                            width: 16px;
                            color: red;
                            margin-left: 8px;
                            margin-right: 8px;
                            cursor: pointer;
                            outline-width: 0px;
                        }
                        span {
                            color: #9E9E9E;
                            color: red;
                            font-size: 0.8em;
                        }
                    }
                    .board-detail-icon-readed {
                        color: blue;
                    }
                    .board-detail-icon-flag {
                        color: green;
                    }
                    span {
                        color: #9E9E9E;
                        font-size: 0.8em;
                    }
                    md-icon {
                        color: #9E9E9E;
                    }
                }
            }
        }
    }
    md-content {
        margin-left: 8px;
        margin-top: 8px;
        md-checkbox {
            margin-left: 0px;
            margin-right: 0px;
            text-transform: capitalize;
        }
        md-checkbox:not([disabled]).md-checked .md-icon {
            background-color: #F44336;
        }
    }
}

.example-button {
    width: 100px;
}

.my-board {
    margin: 10px;
    border-radius: 10px;
}

.title-board {
    border-radius: 10px 10px 0px 0px;
}

.content-board {
    border-bottom: #d1d1d1 1px solid;
    border-left: #d1d1d1 1px solid;
    border-right: #d1d1d1 1px solid;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

.text-board {
    margin: 0px !important;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px;
}

.textarea-boad {
    resize: vertical;
}

.button-hide {
    width: 100px;
    font-weight: bold !important;
    animation-name: hideshow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes hideshow {
    0%   {color:#B71C1C;}
    50%  {color:#9E9E9E;}
    100% {color:#B71C1C;}
}

.content-hide {
    margin: 6px;
    border-color: blue;
    border: solid;
    padding: 5px;
    border-radius: 5px;
}

.img-list {
    width: 100%;
    float: left;
}

img.list {
    border: solid;
    margin-left: 2px;
    border-radius: 5px;
    border-color: #B71C1C;
}
