.main {
    margin: 8px;
    .update-container {
        margin: 8px;
        .update-name {
            margin-left: 8px;
        }
        md-toolbar {
            min-height: 48px;
            cursor: pointer;
            outline-width: 0px;
        }
        md-content {
            background-color: #FAFAFA;
            .list-update-content {
                border-top: solid 1px #9E9E9E;
                padding-left: 8px;
                padding-right: 8px;
                margin-bottom: 8px;
                strong {
                    font-size: 1.1em;
                }
                span {
                    font-size: 0.9em;
                    color: #424242;
                }
            }
            .list-update-see-all {
                border-top: solid 1px #9E9E9E;
                .button-see-all {
                    margin: 0px;
                    width: 100%;
                }
            }
        }
    }
    .main-menu {
        margin-left: 8px;
        .main-menu-icon-container {
            .main-menu-icon {
                margin-bottom: 48px;
                .md-icon-button {
                    height: 80px;
                    width: 80px;
                    md-icon {
                        height: 48px;
                        width: 48px;
                    }
                }
            }
        }
    }
}

.show-update-content-hide {
    transition: 3s linear all;
    height:0px;
}

.show-update-content-show {
    height:100%;
}
