.amber-red {
    background-color: #FFC107 !important;
    color: #B71C1C !important;
}

.amber-white {
    background-color: #FFC107 !important;
    color: #FFFFFF !important;
}

.hover-amber {
    color: #FFFFFF;
     &:hover {
        color: #B71C1C;
    }
}

.index {
    md-toolbar {
        background-color: #F44336;
        color: #FFFFFF;
        .toolbar-menu-icon-button {
            height: 80px;
            width: 80px;
            .toolbar-menu-icon {
                font-size: 48px;
                height: 48px;
                width: 48px;
                cursor: pointer;
            }
        }
    }
}
