<md-content flex layout="row" class="board" ng-init="ctrl.init()">
    <section flex="60" layout="column">
        <md-toolbar layout="row" layout-align="none center">
            <span class="">All</span>
            <span flex></span>
        </md-toolbar>
        <md-whiteframe class="md-whiteframe-1dp" layout="row"
                ng-repeat="(index, data) in ctrl.boards">
            <div class="board-user-container" layout="column"
                    layout-align="center center">
                <img height="120" width="120"/>
            </div>
            <div class="board-detail-container" flex layout="column">
                <strong>{{data.header}}</strong>
                <span flex>{{data.detail}}</span>
                <div layout="row" layout-align="center center">
                    <md-icon class="board-detail-icon-reading" md-svg-icon="action:ic_visibility_24px"
                            title="Reading">
                    </md-icon>
                    <span>{{data.reading}}</span>
                    <div ng-if="!data.favoriteFromMe"
                            class="board-detail-icon-favorite-container"
                            layout="row" layout-align="center center">
                        <md-icon md-svg-icon="action:ic_favorite_24px"
                            title="Favorite" ng-click="ctrl.saveFavorite(index)">
                        </md-icon>
                        <span>{{data.favorite}}</span>
                    </div>
                    <div ng-if="data.favoriteFromMe"
                            class="board-detail-icon-favorite-me-container"
                            layout="row" layout-align="center center">
                        <md-icon md-svg-icon="action:ic_favorite_24px"
                            title="Favorited" ng-click="ctrl.saveFavorite(index)">
                        </md-icon>
                        <span>{{data.favorite}}</span>
                    </div>
                    <span flex></span>
                    <md-icon ng-if="!data.readed"
                            md-svg-icon="communication:ic_import_contacts_24px"
                            title="Not Read"></md-icon>
                    <md-icon ng-if="data.readed"
                            class="board-detail-icon-readed"
                            md-svg-icon="communication:ic_import_contacts_24px"
                            title="Readed"></md-icon>
                    <md-button ng-if="!data.flag"
                            class="md-icon-button" title="Flag"
                            ng-click="ctrl.saveFlag(index)" aria-label="Flag">
                        <md-icon md-svg-icon="content:ic_flag_24px"></md-icon>
                    </md-button>
                    <md-button ng-if="data.flag"
                            class="md-icon-button" title="Flaged"
                            ng-click="ctrl.saveFlag(index)" aria-label="Flag">
                        <md-icon class="board-detail-icon-flag"
                                md-svg-icon="content:ic_flag_24px"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-whiteframe>
    </section>
    <md-content flex="40" layout="column">
        <section layout="row" layout-wrap>
            <md-checkbox ng-repeat="(key, check) in ctrl.checkFilter"
                    ng-model="check.status"
                    aria-label="key" flex="{{check.flex}}">
                {{key}}
            </md-checkbox>
        </section>
    </md-content>
</md-content>
