<md-content layout="column">
    <h2>Boad</h2>
    <md-input-container md-no-float md-theme="red" class="md-block">
        <input ng-model="ctrl.title" placeholder="Title">
    </md-input-container>
    <textarea class="textarea-boad" rows="10" cols="50" ng-model="ctrl.text"></textarea>
    <md-button class="example-button" ng-click="ctrl.showExample(ctrl.title, ctrl.text)">Example</md-button>
</md-content>
