<md-content flex layout="row" class="main" ng-init="ctrl.init()">
    <section flex="60" layout="column" class="main-event">
        <div layout="column" ng-repeat="(index, data) in ctrl.listUpdate"
                class="update-container md-whiteframe-1dp">
            <md-toolbar layout="row" layout-align="none center" ng-click="ctrl.showContent(index)">
                <span class="update-name">{{data.name}}</span>
                <span flex></span>
                <md-icon md-svg-icon="hardware:ic_keyboard_arrow_down_24px"
                        ng-show="data.showContent">
                    <md-tooltip>
                        Hide
                    </md-tooltip>
                </md-icon>
                <md-icon md-svg-icon="hardware:ic_keyboard_arrow_left_24px"
                        ng-show="!data.showContent">
                    <md-tooltip>
                        Show
                    </md-tooltip>
                </md-icon>
            </md-toolbar>
            <md-content ng-show="data.showContent">
                <div class="list-update-content" layout="column"
                        ng-repeat="data in data.data">
                    <strong>{{data.header}}</strong>
                    <span>{{data.content}}</span>
                </div>
                <div class="list-update-see-all" layout="column"
                        layout-align="center center">
                    <md-button class="button-see-all"
                            ng-click="ctrl.go(data.stateSeeAll)">
                            See all
                    </md-button>
                </div>
            </md-content>
        </div>
    </section>
    <section flex layout="column" class="main-menu">
        <div class="main-menu-icon-container" layout="row" layout-wrap layout-align="center center">
            <div flex="33" class="main-menu-icon" layout="column" ng-repeat="menu in ctrl.menus" layout-align="center center">
                <md-button class="md-icon-button" title="{{menu.name}}"
                        ng-click="ctrl.go(menu.state)" aria-label="{{menu.name}}">
                    <md-icon md-svg-icon="{{menu.icon}}"></md-icon>
                </md-button>
                <span>
                    {{menu.name}}
                </span>
            </div>
        <div>
    </section>
</md-content>
